*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*******************************regole layuot generale*/
body{
    background-color: #009688;
}

#app{
    margin-top: 150px;
    height:calc(100vh - 150px);
    background-color: #DADBD4;
}

#container{
    position: relative;
    bottom: 125px;
    width: 80%;
    height: calc(100% + 100px);
    margin: auto;
    display: flex;
}

#main-chat, #main-contacts{
    height: calc(100% - 140px);
    overflow-y: scroll;
    background-color: #fff;
}

header, footer, #system-alert{
    height: 70px;
    background-color: #EAEAEA;
}

#head-chat, .contacts-card, #head-contacts{
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.contacts-card-img, #head-chat img, #head-contacts img{
    border-radius: 50%;
}

#head-contacts h2, .chat-card-info{
    width:calc(100% - 54px - 125px);
}

#contacts-icons, #chat-icons{
    width: 125px;
}
/***********************************regole sezione contatti*/
#contacts{
    height: 100%;
    width: 35%;
    min-width: 275px;
}

#head-contacts{
    align-items: center;
}

.contacts-card{
    height: 80px;
    border-top: solid 1px #E9EBEB;
}

.contacts-card-info{
    width: 70%; 
    overflow: hidden;
}

.contacts-card h5, #head-contacts, #head-chat i, .chat-card-info h5{
    color: #ACACAC;
}
/**************************************regole sezione chat*/
#chat-interface{
    height: 100%;
    width: 65%;
    min-width: 200px;
}

#head-chat{    
    height: 70px;
    align-items: center;
    border-left: solid 1px #ACACAC;
}

#head-chat img, #head-contacts img{    
    height: 100%;
}

#head-chat i, #head-contacts i{    
    font-size: 25px;
    margin: 10px;
}

#main-chat{
    background-image: url(../img/mine.jpg);
    padding: 0 50px;
}

#system-alert{
    background-color: #8EDAFC;
}

#input-chat{
    background-color: #F3EEEA;
}

.message{
    width: 300px;
    font-size: large;
    padding: 10px;
    position: relative;
}

.message h5{
    font-size: 10px;
    color: #ACACAC;
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.received-message p, .sent-message p{
    padding: 15px;
    border-radius: 10px;
}

.received-message{
    margin-left: auto;
}

.received-message p{
    background-color: #D5F9BA;
}

.sent-message p{
    background-color: #fff;
}
