*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*******************************regole layuot generale*/
body{
    background-color: #009688;
}

#app{
    margin-top: 150px;
    height:calc(100vh - 150px);
    background-color: #DADBD4;
}

#container{
    position: relative;
    bottom: 125px;
    width: 80%;
    height: calc(100% + 100px);
    margin: auto;
    display: flex;
}

#main-chat, #main-contacts{
    height: calc(100% - 140px);
    overflow-y: scroll;
    background-color: #fff;
}

header, footer, #system-alert{
    height: 70px;
    background-color: #EAEAEA;
}

#head-chat, .contacts-card, #head-contacts, #input-chat{
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.contacts-card-img, #head-chat img, #head-contacts img{
    border-radius: 50%;
}

#head-contacts h2, .chat-card-info{
    width:calc(100% - 54px - 125px);
}

#contacts-icons, #chat-icons{
    width: 125px;
}

.contacts-card h5, #head-contacts, #head-chat i, .chat-card-info h5, #system-alert h5, #input-chat i{
    color: #ACACAC;
}

#head-chat i, #head-contacts i, #input-chat i{    
    font-size: 25px;
    margin: 10px;
}
/***********************************regole sezione contatti*/
#contacts{
    height: 100%;
    width: 35%;
    min-width: 275px;
}

#head-contacts{
    align-items: center;
}

#contacts-search{
    padding: 10px;
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
}

#contacts-search button{
    width: 15%;
    height: 100%;
    background-color: #fff;
    border: none;
    border-right: solid 1px #EAEAEA;
    color: #ACACAC;
}

#contacts-search input{
    width: 85%;
    height: 100%;
    border: none;
    padding-left: 10px;
}

.contacts-card{
    height: 80px;
    border-top: solid 1px #E9EBEB;
    cursor: pointer;
}

.contacts-card:hover{
    background-color: #f5f5f5;
}

.contacts-card.selected{
    background-color: #EAEAEA;
}

.contacts-card-info{
    width: 70%; 
    overflow: hidden;
}
/**************************************regole sezione chat*/
#chat-interface{
    height: 100%;
    width: 65%;
    min-width: 400px;
}

#head-chat{    
    height: 70px;
    align-items: center;
    border-left: solid 1px #ACACAC;
}

#head-chat img, #head-contacts img{    
    height: 100%;
}

#main-chat{
    background-image: url(../img/mine.jpg);
    padding: 0 50px;
}

#system-alert{
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

#system-alert span{
    height: 50px;
    width: 50px;
    background-color: #F2FBFF;
    border-radius: 50%;
    margin: 0 5px 0 15px;
    line-height: 54px;
    text-align: center;
    font-size: 25px;
    color: #8EDAFC;
}

#input-chat{
    background-color: #F3EEEA;
}

.message{
    width: 300px;
    font-size: large;
    padding: 10px;
    position: relative;
}

.message h5{
    font-size: 10px;
    color: #ACACAC;
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.received-message p, .sent-message p{
    padding: 15px;
    border-radius: 10px;
}

.received-message{
    margin-left: auto;
}

.received-message p{
    background-color: #D5F9BA;
}

.sent-message p{
    background-color: #fff;
}

#input-chat input{
    border: none;
    border-radius: 10px;
    width: calc(100% - 150px);
    font-size: 15px;
    padding-left: 20px;
}


#input-chat .fa-paper-plane{
    margin-left: 20px;
}

#input-chat .fa-microphone{
    margin-right: 25px;
}