*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #009688;
}

#app{
    margin-top: 150px;
    height:calc(100vh - 150px);
    background-color: #DADBD4;
}

#container{
    position: relative;
    bottom: 125px;
    width: 80%;
    height: calc(100% + 100px);
    margin: auto;
    display: flex;
}

#contacts{
    height: 100%;
    width: 35%;
    min-width: 200px;
}

#chat-interface{
    height: 100%;
    width: 65%;
    min-width: 200px;
}

.contacts-card{
    height: 80px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border: solid 1px #E9EBEB;
}

.contacts-card-info{
    width: 70%;
    margin-left: 20px;
}

.contacts-card h5{
    color: #acacac;
}

.contacts-card-img{
    border-radius: 50%;
}

#main-chat, #main-contacts{
    height: calc(100% - 140px);
    overflow-y: scroll;
    background-color: #fff;
}

#main-chat{
    background-image: url(../img/mine.jpg);
}

header, footer, #system-alert{
    height: 70px;
    background-color: #EAEAEA;
}

#system-alert{
    background-color: #8EDAFC;
}

#input-chat{
    background-color: #F3EEEA;
}